body {
  background-color: #CFD5DB;
  color: #394152;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  text-align: center;
  width: 400px;
  margin: 10px auto;
}

input [type="text"]{
  background-color: #424530;
}
form input[type="button"] {
  margin: 10px 5px auto;
}

table tr {
  color: #394152;
}

footer {
  text-align: center;
}