@charset "utf-8";

h1 {
  margin: 10px;
  text-align: center;
  font-variant: small-caps;
  font-weight: bolder;
}

form {
  width: 400px;
  margin: 30px auto;
}
form input {
  margin-bottom: 10px;
}

input[type="button"] {
  margin-left: 11px;
  text-align: center;
}